{% extends 'index.html' %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h3 class="h2">Kelola Pendaftaran Pasien</h3>
	
  </div>
	 <div id="Loader">
		<div class="d-flex justify-content-center">
			<div class="spinner-border text-success" style=" width: 5rem; height: 5rem;" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	 </div>
	<div class="container">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
        data-bs-target="#exampleModal" data-bs-whatever="@mdo">+Tambah Pasien</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Daftar Baru</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 needs-validation" action="{{url_for('tambahdaftar')}}" id="tambahdaftar" method="POST">
                            <div class="col-md-4">
                              <label for="validationCustom01" class="form-label">nama</label>
                              <input type="text" class="form-control" id="validationCustom01" name="nama" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="validationCustom02" class="form-label">Tempat Lahir</label>
                              <input type="text" class="form-control" id="validationCustom02" name="tl" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="validationCustomUsername" class="form-label">Tanggal Lahir</label>
                              <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="date" class="form-control" id="validationCustomUsername" name="tgl_lahir" aria-describedby="inputGroupPrepend" required>
    
                              </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom04" class="form-label">Jenis Kelamin</label>
                                <select class="form-select" id="validationCustom04" name="jk" required>
                                  <option selected disabled value="">Pilih...</option>
                                  <option value="laki-laki">laki-laki</option>
                                  <option value="Perempuan">Perempuan</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom04" class="form-label">Status Pernikahan</label>
                                <select class="form-select" id="validationCustom04" name="status" required>
                                  <option selected disabled value="">Pilih...</option>
                                  <option value="belum menikah">Belum Menikah</option>
                                  <option value="sudah menikah">Sudah Menikah</option>
                                  <option value="bercerai">Bercerai</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                              <label for="validationCustom05" class="form-label">Profesi</label>
                              <input type="text" class="form-control" id="validationCustom05" name="profesi" required>
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Alamat:</label>
                                <textarea class="form-control" id="message-text" style="height: 100px;" name="alamat"></textarea>
                            </div>
                            <input type="hidden" name="keterangan" value="diproses">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <br /> <br />
        <div class="card">
            <div class="card-header">
              <strong>Tabel Pasien</strong> 
            </div>
            <div class="card-body">
                <table class="table table-bordered table-sm" id="myTable">
                    <thead class="table table-dark">
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Tempat Lahir</th>
                        <th scope="col">Tanggal Lahir</th>
                        <th scope="col">Jenis Kelamin</th>
                        <th scope="col">Profesi</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for dt in data %}
                      <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{dt.nama}}</td>
                        <td>{{dt.tl}}</td>
                        <td>{{dt.tgl_lahir}}</td>
                        <td>{{dt.jk}}</td>
                        <td>{{dt.profesi}}</td>
                        <td>{{dt.alamat}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" 
                            data-bs-target="#exampleModal1{{dt.id}}" data-bs-whatever="@mdo"><b>+</b></button>
                                <div class="modal fade" id="exampleModal1{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Daftar</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="row g-3 needs-validation edit-daftar" action="/editdaftar/{{dt.id}}" method="POST">
                                                <div class="col-md-4">
                                                  <label for="validationCustom01" class="form-label">nama</label>
                                                  <input type="text" class="form-control" id="validationCustom01" name="nama" value="{{dt.nama}}" required>
                                                  <div class="valid-feedback">
                                                    Looks good!
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <label for="validationCustom02" class="form-label">Tempat Lahir</label>
                                                  <input type="text" class="form-control" id="validationCustom02" value="{{dt.tl}}" name="tl" required>
                                                  <div class="valid-feedback">
                                                    Looks good!
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <label for="validationCustomUsername" class="form-label">Tanggal Lahir</label>
                                                  <div class="input-group has-validation">
                                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                    <input type="date" class="form-control" id="validationCustomUsername" value="{{dt.tgl_lahir}}" name="tgl_lahir" aria-describedby="inputGroupPrepend" required>
                        
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="validationCustom04" class="form-label">Jenis Kelamin</label>
                                                    <select class="form-select" id="validationCustom04" name="jk" value="{{dt.jk}}" required>
                                                      <option disabled value="">Pilih...</option>
                                                      <option value="laki-laki" {{ 'selected' if dt.jk == 'laki-laki' else '' }}>laki-laki</option>
                                                      <option value="Perempuan" {{ 'selected' if dt.jk == 'perempuan' else '' }}>Perempuan</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="validationCustom04" class="form-label">Status Pernikahan</label>
                                                    <select class="form-select" id="validationCustom04" name="status" value="{{dt.status}}" required>
                                                      <option disabled value="">Pilih...</option>
                                                      <option value="belum menikah" {{ 'selected' if dt.status == 'belum menikah' else '' }}>Belum Menikah</option>
                                                      <option value="sudah menikah" {{ 'selected' if dt.status == 'sudah menikah' else '' }}>Sudah Menikah</option>
                                                      <option value="bercerai" {{ 'selected' if dt.status == 'bercerai' else '' }}>Bercerai</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                  <label for="validationCustom05" class="form-label">Profesi</label>
                                                  <input type="text" class="form-control" id="validationCustom05" value="{{dt.profesi}}" name="profesi" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="message-text" class="col-form-label">Alamat:</label>
                                                    <textarea class="form-control" id="message-text" style="height: 100px;" value="{{dt.alamat}}" name="alamat">{{dt.alamat}}</textarea>
                                                </div>
                                                <input type="hidden" name="keterangan" value="diproses">
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="hidden" value="{{dt.id}}" id="eDf" >
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <a href="" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2{{dt.id}}" data-bs-whatever="@mdo"><b>x</b></b></a>
                                    <div class="modal fade" id="exampleModal2{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>Apakah anda yakin ingin menghapus user ini?</h5>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                                    <a href="/hapusdaftar/{{dt.id}}" type="submit" class="btn btn-primary">Ya, Hapus</a>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
	</div>
    {% block tail %}
    <script>
        $('#tambahdaftar').on('submit', async function(event) {
            event.preventDefault();
            const button = $(this).find('button[type=submit]')
            button.attr('disabled','disabled')
            const req = new XMLHttpRequest();
            req.onload = () => {
                const data = JSON.parse(req.responseText);
                if(data.success) {
                    alert("Data berhasil di tambahkan");
                    location.reload();
                } else {
                    alert("Ada masalah");
                }
            }
            const datanya = new FormData(this);
            await req.open("POST", "/tambahdaftar", true);
            req.send(datanya);
        })
        
        // document.addEventListener("DOMContentLoaded", () => {
        //     document.querySelector("#tambahdaftar").onsubmit = async (e) => {
        //         e.preventDefault();
        //         const req = new XMLHttpRequest();
        //         req.onload = () => {
        //             const data = JSON.parse(req.responseText);
        //             if(data.success) {
        //                 alert("Data berhasil di tambahkan");
        //                 location.reload();
        //             } else {
        //                 alert("Ada masalah");
        //             }
        //         }
        //         const form = document.querySelector("#tambahdaftar");
        //         const datanya = new FormData(form);
        //         await req.open("POST", "/tambahdaftar", true);
        //         req.send(datanya);
        //     }
        // });

        // $('.edit-daftar').on('submit', async function(event) {
        //     event.preventDefault()
        //     const req = new XMLHttpRequest();
        //     req.onload = () => {
        //         const data = JSON.parse(req.responseText);
        //         if(data.success) {
        //             alert("Data berhasil di rubah");
        //             location.reload();
        //         } else {
        //             alert("Ada masalah");
        //         }
        //     }
        //     const datanya = new FormData(this);
        //     const url = this.getAttribute('action')
        //     await req.open("POST", url, true);
        //     req.send(datanya);
        // })

        //
        // ini script work, cuma vanilla
        //
        document.addEventListener('DOMContentLoaded', () => {
            var forms = document.querySelectorAll('.edit-daftar')
            forms.forEach(element => {
                element.addEventListener('submit', async(event) => {
                    event.preventDefault()
                    const req = new XMLHttpRequest();
                    req.onload = () => {
                        const data = JSON.parse(req.responseText);
                        if(data.success) {
                            alert("Data berhasil di rubah");
                            location.reload();
                        } else {
                            alert("Ada masalah");
                        }
                    }
                    const datanya = new FormData(element);
                    const url = element.getAttribute('action')
                    await req.open("POST", url, true);
                    req.send(datanya);
                })
            });
        })

    </script>
    {% endblock %}
{% endblock %}