{% extends 'index.html' %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h3 class="h2">Kelola Suplier</h3>
	
  </div>
	 <div id="Loader">
		<div class="d-flex justify-content-center">
			<div class="spinner-border text-success" style=" width: 5rem; height: 5rem;" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	 </div>
	<div class="container">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
        data-bs-target="#exampleModal" data-bs-whatever="@mdo">+Tambah Suplier</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suplier Baru</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('tambahsuplier')}}" id="tsuplier" method="POST">
                        <div class="mb-3">
                            <label for="form-dokter-name" class="col-form-label">Perusahaan:</label>
                            <input type="text" class="form-control" name="perusahaan" id="form-suplier-perusahaan">
                        </div>
                        <div class="mb-3">
                            <label for="form-dokter-name" class="col-form-label">Kontak:</label>
                            <input type="text" class="form-control" name="kontak" id="form-suplier-kontak">
                        </div>
                        <div class="mb-3">
                            <label for="form-dokter-jadwal" class="col-form-label">Alamat:</label>
                            <textarea class="form-control" name="alamat" id="form-suplier-alamat"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <br /> <br />
        <div class="card">
            <div class="card-header">
              Tabel Suplier
            </div>
            <div class="card-body">
                <table class="table table-bordered table-sm" id="myTable">
                    <thead class="table table-dark">
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Perusahaan</th>
                        <th scope="col">Kontak</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for dt in data %}
                      <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{dt.perusahaan}}</td>
                        <td>{{dt.kontak}}</td>
                        <td>{{dt.alamat}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" 
                            data-bs-target="#exampleModal1{{dt.id}}" data-bs-whatever="@mdo">Edit</button>
                                <div class="modal fade" id="exampleModal1{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Baru</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <form action="/editsuplier/{{dt.id}}" class="editsuplier" method="POST">
                                                    <div class="mb-3">
                                                        <label for="form-dokter-name" class="col-form-label">Perusahaan:</label>
                                                        <input type="text" class="form-control" name="perusahaan" value="{{dt.perusahaan}}" id="form-suplier-perusahaan">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="form-dokter-name" class="col-form-label">Kontak:</label>
                                                        <input type="text" class="form-control" name="kontak" value="{{dt.kontak}}" id="form-suplier-kontak">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="form-dokter-jadwal" class="col-form-label">Alamat:</label>
                                                        <textarea class="form-control" name="alamat" id="form-suplier-alamat">{{dt.alamat}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                                </div>
                                                </form>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="" class="btn btn-sm btn-danger" data-bs-toggle="modal" 
                                data-bs-target="#exampleModal2{{dt.id}}" data-bs-whatever="@mdo">Hapus</a>
                                    <div class="modal fade" id="exampleModal2{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>Apakah anda yakin ingin menghapus user ini?</h5>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                                    <a href="/hapussuplier/{{dt.id}}" type="submit" class="btn btn-primary">Ya, Hapus</a>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
	</div>

    {% block tail %}
    <script>
        
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#tsuplier").onsubmit = async (e) => {
                console.log()
                e.preventDefault();
                const req = new XMLHttpRequest();
                req.onload = () => {
                    const data = JSON.parse(req.responseText);
                    if(data.success) {
                        alert("Data berhasil di tambahkan");
                        location.reload();
                    } else {
                        alert("Ada masalah");
                    }
                }
                const form = document.querySelector("#tsuplier");
                const datanya = new FormData(form);
                await req.open("POST", "/tambahsuplier", true);
                req.send(datanya);
            }
        })
        
        document.addEventListener('DOMContentLoaded', () => {
            var forms = document.querySelectorAll('.editsuplier')
            forms.forEach(element => {
                element.addEventListener('submit', async(event) => {
                    event.preventDefault()
                    const req = new XMLHttpRequest();
                    req.onload = () => {
                        const data = JSON.parse(req.responseText);
                        if(data.success) {
                            alert("Data berhasil di rubah");
                            location.reload();
                        } else {
                            alert("Ada masalah");
                        }
                    }
                    const datanya = new FormData(element);
                    const url = element.getAttribute('action')
                    await req.open("POST", url, true);
                    req.send(datanya);
                })
            });
        })

    </script>
    {% endblock %}
{% endblock %}